QWEN_API_KEY=sk-xxx
QWEN_API_HOST=https://dashscope.aliyuncs.com/compatible-mode/v1

OCR_API_KEY=sk-xxx
OCR_API_HOST=https://dashscope.aliyuncs.com/compatible-mode/v1

WORKSPACE_ID=
UPLOAD_DIR=./uploads
PORT=8080
